cairocffi==0.7.1
CairoSVG==1.0.15
cffi==1.1.2
cssselect==0.9.1
ephem==3.7.5.3
html5lib==0.999999
lxml==3.4.4
matplotlib==1.4.3
numpy==1.9.2
pandas==0.16.2
Pillow==2.9.0
pycparser==2.14
pyparsing==2.0.3
PyPDF2==1.25
Pyphen==0.9.1
python-dateutil==2.4.2
pytz==2015.4
six==1.9.0
tinycss==0.3
WeasyPrint==0.23
